<div class="modal-body">
  <label>Shared with</label>
  {{#if loading}}
    <span>{{ i18n loading }}</span>
  {{else}}
    {{userSelector allowAny=true usernames=usernames class="span10" excludeCurrentUser="true" include_groups="true" placeholderKey="topic.invite_private.email_or_username_placeholder"}}
  {{/if}}
</div>
<div class="modal-footer">
  {{#if finished}}
    <button class='btn btn-primary' {{action closeModal}}>{{i18n close}}</button>
  {{else}}
    <button class='btn btn-primary' {{action save}}>{{i18n save}}</button>
  {{/if}}

</div>
